<div class="row mb-5">
	<div class="col">
		<div class="card card-profile text-center">
			<span class="mb-1 text-primary"><i class="icon-people"></i></span>
			<h3 class="mb-0">@ViewBag.messageCount</h3>
			<p class="text-muted">Gelen Mesaj</p>
		</div>
	</div>
	<div class="col">
		<div class="card card-profile text-center">
			<span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
			<h3 class="mb-0">@ViewBag.messageSendCount</h3>
			<p class="text-muted">Giden Mesaj</p>
		</div>
	</div>
	<div class="col-12 text-center">
		<button class="btn btn-danger px-5">Yeni Mesaj Gönder</button>
	</div>
</div>
