<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
 
            <li>
                <a href="#">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>          
            </li>

            <li>
                <a href="/Profile/Index">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Profil</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Message/Inbox">Gelen Kutusu</a></li>
                    <li><a href="/Message/NewMessage">Yeni Mesaj</a></li>
                    <li><a href="/Message/Outbox">Giden Kutusu</a></li>
                    <li><a href="./email-read.html">Taslaklar</a></li>
                    <li><a href="./email-read.html">Çöp Kutusu</a></li>                   
                </ul>
            </li>

        </ul>
    </div>
</div>
