@model List<Message>
@{
	ViewData["Title"] = "DraftMessageList";
	Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="email-left-box">
						@await Component.InvokeAsync("_LeftBoxInMessage")
					</div>
					<div class="email-right-box">
						<div class="email-list m-t-15">
							@foreach (var item in Model)
							{
								<input type="hidden" asp-for="@item.ReceiverId" />
								<div class="message">

									<div class="col-mail col-mail-2 text-truncate">
										<div class="subject">
											<a href="/Message/DraftMessageDetail/@item.MessageId" class="text-primary">@item.Title.Substring(0, 5)...</a>
										</div>
									</div>

									<div class="col-mail col-mail-2 text-truncate" style="margin-left:150px">

										<div class="subject">
											<a href="/Message/DraftMessageDetail/@item.MessageId">@item.Content.Substring(0, 10)...</a>
										</div>
										<div class="date">@item.CreatedDate.ToString("HH:mm  ddd")</div>

									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

