@model List<Message>
@{
    ViewData["Title"] = "OutBox";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="email-left-box">
						@await Component.InvokeAsync("_LeftBoxInMessage")
					</div>
					<div class="email-right-box">
						<div class="email-list m-t-15">
							@foreach (var item in Model)
							{
								<input type="hidden" asp-for="@item.SenderId" />
								<div class="message">
									<a href="/Message/MessageDetail/@item.MessageId">
										<div class="col-mail col-mail-1">
											<div class="email-checkbox">
												<input type="checkbox" id="chk2">
												<label class="toggle" for="chk2"></label>
											</div>
											<span class="star-toggle ti-star"></span>
										</div>
										<div class="col-mail col-mail-2">
											<div class="subject">@item.Title</div>
											<div class="date">@item.CreatedDate.ToString("HH:mm  ddd")</div>

										</div>
									</a>
								</div>
							}
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>


